<ion-view title="Admin" id="admin">
    <ion-nav-buttons side="primary">
        <button class="button button-positive button-clear" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list ng-repeat="user in users">
            <ion-item class="item-divider item-button-right">
                {{user.name}}
                <button class="button button-clear button-positive" ng-click="changeBarcode({{user.id}})">add</button>
            </ion-item>
            <ion-item ng-repeat="barcode in user.barcodes">
                <br>
                    <span class="item-note">
                        <io-barcode style="width: 100%" code="{{barcode.text}}" type="CODE39"></io-barcode>
                    </span>
                    <br>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>