<ion-view title="Admin" id="admin">
    <ion-nav-buttons side="primary">
        <button class="button button-positive button-clear" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list ng-repeat="user in users">
            <ion-item>{{user.name}}
                <br>
                    <span class="item-note">
                        <io-barcode style="width: 100%" code="{{user.text}}" type="CODE39"></io-barcode>
                    </span>
                    <br>
            </ion-item>
            <button class="button button-positive" ng-click="changeBarcode({{user.id}},{{user.user_id}})">
                Change barcode
            </button>
        </ion-list>
    </ion-content>
</ion-view>
 